@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: #ededed;
  }
}

body {
  background-color: #0a0a0a;
  background-image: url("../public/FUNDO.svg");
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf")
}

.Poppins {
  font-family: Poppins;
}

/* scalling settings */

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  83.33% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaleUpDownLogo {
  0% {
    opacity: 0;
    position: absolute;
    top: 70%;
    transform: scale(1);
  }
  75%{
    opacity: 1;
    position: absolute;
    top: 80%;
    transform: scale(1.4);
  }
  83.33% {
    opacity: 1;
    position: absolute;
    top: 80%;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    position: absolute;
    top: 45%;
    transform: scale(0);
  }
}

@keyframes scaleDownFirstButton {
  0% {
    transform: scale(0.5);
    padding: 2.675% 4.9479%;
    margin-top: -101.25px;
    margin-bottom: 6.25%;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: 2.675% 4.9479%;
    margin-top: -4.1666%;
    margin-bottom: 6.25%;
    border-color: #059EF4;
  }
  60%{
    border-color: transparent;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    padding: -1.04% 24.9%;
    margin-top: 0px;
    margin-bottom: 6.25%;
    background-color: transparent;
  }
}

@keyframes scaleDownSecondButton {
  0% {
    transform: scale(0.5);
    padding: -1.04% 24.9%;
    margin-top: -11.9791%; 
    margin-bottom: 0%;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: -1.04% 24.9%;
    margin-top: -11.9791%; 
    margin-bottom: 0%;
    border-color: #059EF4;
  }
  60%{
    border-color: transparent;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    margin-top: -7%;
    margin-bottom: 0%;
    padding: 0.9895% 24.9%;
    background-color: transparent;
  }
}

@keyframes scaleDownThirdButton {
  0% {
    transform: scale(0.5);
    padding: 2.675% 3.6458%;
    margin-top: 6.25%;
    margin-bottom: -5.7291%;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: 2.675% 3.6458%;
    margin-top: 6.25%;
    margin-bottom: -5.7291%;
    border-color: #059EF4;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    margin-top: 6.25%;
    margin-bottom: -7.1875%;
    border-top-color: #0C95E2;
    background-color: #059EF4;
  }
}

.scale-up-down {
  animation: scaleUpDown 6s forwards;
}

.scale-up-down-logo{
  animation: scaleUpDownLogo 6s forwards;
}

.scale-down-first-button{
  animation: scaleDownFirstButton 2s forwards;
}

.scale-down-second-button{
  animation: scaleDownSecondButton 2s forwards;
}

.scale-down-third-button{
  animation: scaleDownThirdButton 2s forwards;
}

/* buttons settings */

button {
  transition: border 0.3s ease;
  border: 2px solid transparent; 
  font-size: 200%;
  border-radius: 200px; 
}

.buttons:hover {
  border-color: #059EF4; 
}

.bg-buttons{
  background-color: #212121;
}

.buttons:nth-child(1){
  padding: 2.675% 5.95%;
  margin-top: 1.04%;
  margin-bottom: 6.25%;
}

.buttons:nth-child(2){
  position: absolute;
  padding: 2.675% 6.25%;
  top: 42.5%;
}

.buttons:nth-child(3){
  padding: 2.675% 4.25%;
  margin-bottom: 1.04%;
}

/* fade settings */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

.button-fade-in {
  opacity: 0; 
  animation: fadeIn 0.5s forwards; 
}

.button-fade-in:nth-child(1) {
  animation-delay: 0s; 
}

.button-fade-in:nth-child(2) {
  animation-delay: 0.75s; 
}

.button-fade-in:nth-child(3) {
  animation-delay: 1.5s; 
}

/* bio/texts */

@keyframes bioFadeIn{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
  }
}

.haken-static-color{
  color: #0C95E2;
}

.haken-border{
  border-color:#0C95E2;
}

.bio-fade-in{
  opacity: 0;
  animation: bioFadeIn 2.1s forwards;
}


/* div */

.relative{
  position: sticky;
}

.button-scale{
  scale: 50%;
}

/* Start */

.haken-image-eyes-opened{
  width: 100%;
}

.haken-image-eyes-closed{
  position: absolute;
  left: 37.5%;
  top: 31%;
  width: 25%;
}

.haken-image-logo{
  width: 25%
}

/* About Me */

.about-me-title-position{
  position: fixed;
  left: -2.25vw;
  top: 0vw;
  width: 50vw;
}

.about-me-tile-font-size{
  font-size: 2.025vw;
}

.about-me-text{
  position: fixed;
  font-size: 1.2vw;
  top: 4vw;
  left: -22vw;
  width: 50vw;
}

.about-me-image-position{
  position: fixed;
  left: -0.25vw;
  top: 13.25vw;
}

.about-me-image{
  width: 7vw;
}

/* Projects */

.projects-scale{
  position: fixed;
  top: 55%;
  width: 100%;
  height: 35.8%;
}

.projects-title-size{
  font-size: 2.025vw;
}

.projects-title{
  position: fixed;
  top: -7%;
  left: 42%;
}

.projects-button-position{
  position: fixed;
  left: 24%;
  bottom: 0%;
}

.projects-background{
  border-radius: 0.5rem;
  padding: 5%;
  width: 35%;
  background-color: #212121;
}

/* Contacts */

.contacts-scale{
  position: fixed;
  top: 70%;
  scale: 50%;
  width: 100%;
  height: 17.52%;
}

.black-contacts-text{
  color: #0a0a0a;
}

.contacts-image-centralize{
  position: fixed;
  top: 4vw;
  left: 40.35vw;
}

.contacts-image-size{
  width: 3vw;
  margin-left: 2vw;
}

.contacts-top{
  position: fixed;
  font-size: 2.025vw;
  width: 35vw;
  top: 0vw;
  left: 31.75vw;
}

/* Contacts Icons */

.icon-colors{
  transition-duration: 1s;
  color: #0a0a0a;
}

.icon-colors:hover{
  color:#FFFFFF;
}
