@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: ;
    --foreground: #ededed;
  }
}

body {
  background-color: #0a0a0a;
  background-image: url("../public/FUNDO.svg");
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: Poppins;
  src: url("../public/Poppins-Regular.ttf")
}

.Poppins {
  font-family: Poppins;
}

/* scalling settings */

@keyframes scaleUpDown {
  0% {
    transform: scale(1);
  }
  83.33% {
    transform: scale(1.4);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes scaleUpDownLogo {
  0% {
    opacity: 0;
    position: absolute;
    top: 70%;
    transform: scale(1);
  }
  75%{
    opacity: 1;
    position: absolute;
    top: 80%;
    transform: scale(1.4);
  }
  83.33% {
    opacity: 1;
    position: absolute;
    top: 80%;
    transform: scale(1.4);
  }
  100% {
    opacity: 1;
    position: absolute;
    top: 45%;
    transform: scale(0);
  }
}

@keyframes scaleDownFirstButton {
  0% {
    transform: scale(0.5);
    padding: 50px 95px;
    margin-top: -120px;
    margin-bottom: 120px;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: 50px 95px;
    margin-top: -80px;
    margin-bottom: 120px;
    border-color: #059EF4;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    padding: -20px 24.9%;
    margin-top: 0px;
    margin-bottom: 120px;
    background-color: transparent;
  }
}

@keyframes scaleDownSecondButton {
  0% {
    transform: scale(0.5);
    padding: -20px 24.9%px;
    margin-top: -200px; 
    margin-bottom: 0px;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: -20px 24.9%px;
    margin-top: -200px; 
    margin-bottom: 0px;
    border-color: #059EF4;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    margin-top: -120.5px;
    margin-bottom: 0px;
    padding: 19px 24.9%;
    background-color: transparent;
  }
}

@keyframes scaleDownThirdButton {
  0% {
    transform: scale(0.5);
    padding: 50px 70px;
    margin-top: 120px;
    margin-bottom: -120px;
    border-color: #059EF4;
  }
  40%{
    transform: scale(0.8);
    padding: 50px 70px;
    margin-top: 120px;
    margin-bottom: -120px;
    border-color: #059EF4;
  }
  100% {
    transform: scale(2);
    border-radius: 0px;

    margin-top: 120px;
    margin-bottom: -138px;
    padding: -20px 24.9%;
    border-top-color: #0C95E2;
    background-color: #059EF4;
  }
}

.scale-up-down {
  animation: scaleUpDown 6s forwards;
}

.scale-up-down-logo{
  animation: scaleUpDownLogo 6s forwards;
}

.scale-down-first-button{
  animation: scaleDownFirstButton 2s forwards;
}

.scale-down-second-button{
  animation: scaleDownSecondButton 2s forwards;
}

.scale-down-third-button{
  animation: scaleDownThirdButton 2s forwards;
}

/* buttons settings */

button {
  transition: border 0.3s ease;
  border: 2px solid transparent; 
  font-size: 2rem;
  border-radius: 200px; 
}

.buttons:hover {
  border-color: #059EF4; 
}

.bg-buttons{
  background-color: #212121;
}

.buttons:nth-child(1){
  padding: 50px 115px;
  margin-top: 20px;
  margin-bottom: 120px;
}

.buttons:nth-child(2){
  position: absolute;
  padding: 50px 120px;
  top: 42.5%;
}

.buttons:nth-child(3){
  padding: 50px 90px;
  margin-bottom: 20px; 
}

/* fade settings */

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1; 
  }
}

.button-fade-in {
  opacity: 0; 
  animation: fadeIn 0.5s forwards; 
}

.button-fade-in:nth-child(1) {
  animation-delay: 0s; 
}

.button-fade-in:nth-child(2) {
  animation-delay: 0.75s; 
}

.button-fade-in:nth-child(3) {
  animation-delay: 1.5s; 
}

/* bio/texts */

@keyframes bioFadeIn{
  0% {
    opacity: 0;
  }

  50% {
    opacity: 0;
  }

  100% {
    opacity: 1; 
  }
}

.haken-static-color{
  color: #0C95E2;
}

.haken-border{
  border-color:#0C95E2;
}

.bio-fade-in{
  opacity: 0;
  animation: bioFadeIn 4s forwards;
}


/* div */

.relative{
  position: sticky;
}

.button-scale{
  scale: 50%;
}

/* About Me */

.about-me-title-position{
  position: absolute;
  left: 43.75%;
  top: -30.5%;
}

.about-me-tile-font-size{
  font-size: 1.2em;
}

.about-me-text{
  position: relative;
  left: -25%;
}

.about-me-image{
  position: absolute;
  left: 25%;
  top: 100%;
}

/* Projects */

.projects-scale{
  position: absolute;
  top: 55%;
  width: 100%;
  height: 35.8%;
}

.projects-title-size{
  font-size: 1.2em;
}

.projects-title{
  position: fixed;
  top: -2%;
  left: 42.75%;
}

.projects-button-position{
  position: absolute;
  left: 24.5%;
  bottom: -180%;
}

.projects-background{
  border-radius: 0.5rem;
  padding: 50px 50px;
  background-color: #212121;
}

/* Contacts */

.contacts-scale{
  position: absolute;
  top: 70%;
  scale: 50%;
  width: 1878.5px;
  height: 171px;
}

.contacts-text-centralize{
  position: absolute;
  left: 43%;
  top: -100%;
}

.black-contacts-text{
  color: #0a0a0a;
}

.contacts-image-centralize{
  position: absolute;
  left: 42.75%;
}

.contacts-top{
  top: -160%;
}

/* Contacts Icons */

.icon-colors{
  transition-duration: 1s;
  color: #0a0a0a;
}

.icon-colors:hover{
  color:#FFFFFF;
}
